@model UpdateProductVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Update product</h1>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">

                            <div class="form-group">
                                <img style="width:150px;height:150px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi=>pi.IsPrimary==true).Url" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">Main image</label>
                                <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>


                            <div class="form-group">
                                <img style="width:150px;height:150px" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == false).Url" />
                            </div>
                            <div class="form-group">
                                <label asp-for="HoverPhoto">Hover image</label>
                                <input asp-for="HoverPhoto" class="form-control" placeholder="HoverPhoto">
                                <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                            </div>


                            <div class="form-group d-flex">
                                @foreach (ProductImage image in Model.ProductImages.Where(pi => pi.IsPrimary == null))
                                {
                                    <div style="position: relative; display: inline-block;">
                                        <img style="width: 100px; height: 100px;"  src="~/assets/images/website-images/@image.Url" />
                                        <button type="button" style="position: absolute; top: 0; right: 0;" class="custdelete btn-danger position-absolute"><i class="mdi mdi-delete-forever"></i></button>
                                        <input asp-for="ImageIds" value="@image.Id" type="hidden">
                                    </div>
                                }

                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Additional images</label>
                                <input asp-for="Photos" class="form-control" placeholder="Photos">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SKU">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span class="text-danger" asp-validation-for="SKU"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoryId">Category</label>
                                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control">
                                </select>
                                <span class="text-danger" asp-validation-for="CategoryId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TagIds">Tags</label>
                                <select asp-for="TagIds" asp-items="Model.Tags" class="form-control">
                                    <option selected disabled>Choose tags</option>
                                </select>
                                <span class="text-danger" asp-validation-for="TagIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColorIds">Colors</label>
                                <select asp-for="ColorIds" asp-items="Model.Colors" class="form-control">
                                    <option selected disabled>Choose colors</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ColorIds"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SizeIds">Sizes</label>
                                <select asp-for="SizeIds" asp-items="Model.Sizes" class="form-control">
                                    <option selected disabled>Choose sizes</option>
                                </select>
                                <span class="text-danger" asp-validation-for="SizeIds"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button asp-action="index" asp-controller="product" class="btn btn-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section DeleteImgBtn{
<script>

    var btns = document.querySelectorAll(".custdelete")
    for (let i = 0; i < btns.length; i++) {

        btns[i].addEventListener("click", function () {
            btns[i].parentElement.remove();
         
        })
    }
</script>
}
